// @import './shared/fonts';

//pages

@import './index';
@import './portfolios';
@import './portfolio-detail';
@import './blogs';
@import './about';

//component

@import './component/header';



html, body {
    height: 100%;
    width: 100%;
    font-family:'Montserrat','Helvetica';
  
}

.clickable {
    cursor: pointer;
}

.absolute {
    position: absolute;
  }
  .base-page {
      color: black;
      min-height: 100vh;
      background-color: #ecedee;
      margin-top: 100px;
      padding: 150px, 0;

      .page-header-title{
          font-weight: bold;
          display: inline-block;
          margin-top: 10px;
          margin-left: 40%;
          margin-bottom: 5px;
      }
  }

.self-typed {
    font-size: 31px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.avatar-box{
    .img{
        height: 50px;
        border-radius: 50%;
    }
   .subtitle{
       font-size: 14px;
   }
}





// .customClassFromFile{
//     color: blue,
// }